p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.layout{
    background: url(../../../assets/img/img.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}
